<link rel="stylesheet" href="public/normalize.css">
<link rel="stylesheet" href="public/main.css">
<link rel="stylesheet" href="public/font-awesome-4.3.0/css/font-awesome.min.css">

<div class="center">
<script type="text/javascript">

</script>

<h1> Go eat here:</h1>
<h2>{{name}} {{address}}</h2>

</div>